
<div class="container">
  <div class="row">
    <div class="col">
      </div>
    <div class="col-xs-8">
  <div class="card">
  
  <div class="card-body">
    
    <h4 class="card-title">Login</h4>
    <form   #form="ngForm" (ngSubmit)="submitLogin(form.value)" ngNativeValidate >
						   								
							 <div class="center login-message">{{error_message}}</div>
							  <div class="form-group">
								
								<input type="text" class="form-control input-lg" id="content-tab-username" placeholder="Enter Username"  name="username" required [(ngModel)]="model.username">
							  </div>
							  <div class="form-group">
							  							
								<input type="password" class="form-control input-lg" id="content-tab-pass" placeholder="Enter Password" name="password" required [(ngModel)]="model.password">
							  </div>
							  <button  class="form_submit" type="submit">Log In</button>
							</form>
    

  </div>
</div>

</div>
<div class="col">
      </div>
</div>
</div>
  
